In [1]:
import wrangle
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pydataset
import seaborn as sns
import itertools
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = wrangle.wrangle_zillow()
df.head()

   bedrooms  bathrooms  sq_ft  tax_value  year_built  lot_size  fips
0         4        3.5   3100    1023282        1998    4506.0  6059
1         2        1.0   1465     464000        1967   12647.0  6111
2         3        2.0   1243     564778        1962    8432.0  6059
3         4        3.0   2376     145143        1970   13038.0  6037
4         4        3.0   2962     773303        1950   63000.0  6037

In [5]:
df.tax_value.head(), df.tax_value.tail()

(0    1023282
 1     464000
 2     564778
 3     145143
 4     773303
 Name: tax_value, dtype: int64,
 52436    346534
 52437    354621
 52438     67205
 52439     49546
 52440    522000
 Name: tax_value, dtype: int64)

In [6]:
df.sort_values(by=['tax_value'])

       bedrooms  bathrooms  sq_ft  tax_value  year_built  lot_size  fips
42000         3        4.0   3284       1000        1985   55926.0  6037
14746         2        1.0    589       3254        1955    3249.0  6037
49767         2        1.0    500       9242        1939    5200.0  6111
26975         2        1.0    680      10504        1923    2167.0  6037
35686         0        0.0    360      11089        1925    2007.0  6037
...         ...        ...    ...        ...         ...       ...   ...
5992          4        3.5   3649    3060978        2001    7840.0  6059
38003         5        5.0   4829    3084328        2001   91926.0  6037
34563         3        3.0   2781    3100000        1963   26697.0  6037
11410         4        4.5   4258    3100000        1999    9075.0  6059
2092          4        4.5   4418    3133146        2002    8400.0  6059

[49586 rows x 7 columns]