In [1]:
import wrangle
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pydataset
import seaborn as sns
import itertools
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = wrangle.wrangle_zillow()
df.head()

,bedrooms,bathrooms,sq_ft,tax_value,year_built,lot_size,orange_co,ventura_co
0,4,3.5,3100,1023282,1998,4506,1,0
1,2,1.0,1465,464000,1967,12647,0,1
2,3,2.0,1243,564778,1962,8432,1,0
3,4,3.0,2376,145143,1970,13038,0,0
4,4,3.0,2962,773303,1950,63000,0,0

In [ ]:
df.tax_value.head(), df.tax_value.tail()

In [ ]:
df.sort_values(by=['tax_value'])

In [5]:
df.shape

(49586, 8)

In [6]:
49586/52441

0.945557865029271